@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Government:</label>
                <select class="form-control" id="sel1">
                    <option>Federal</option>
                    <option>State</option>
                    <option>Local</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Location:</label>
                <select class="form-control" id="sel1">
                    <option>New York</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Federal:</label>
                <select class="form-control" id="sel1">
                    <option>President</option>
                    <option>Senator</option>
                    <option>Representative</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">State:</label>
                <select class="form-control" id="sel1">
                    <option>Legislature</option>
                    <option>Governor</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Local:</label>
                <select class="form-control" id="sel1">
                    <option>Mayor</option>
                    <option>CountyExecutive</option>
                    <option>District</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Canidate 1</h2>
        <img src="~/Content/DummyImage.png" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
            <li>Option 5</li>
        </ul>
        <button type="button" class="btn btn-primary btn-block">Vote</button>
        <br>
        <a href="">How are you feeling?</a>
    </div>
    <div class="col-md-3">
        <h2>Canidate 2</h2>
        <img src="~/Content/DummyImage.png" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
            <li>Option 5</li>
        </ul>
        <button type="button" class="btn btn-primary btn-block">Vote</button>
        <br>
        <a href="">How are you feeling?</a>
    </div>
    <div class="col-md-3">
        <h2>Canidate 3</h2>
        <img src="~/Content/DummyImage.png" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <ul>
            <li>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Link with href
                    </a>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </li>

            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
            <li>Option 5</li>
        </ul>
        <button type="button" class="btn btn-primary btn-block">Vote</button>
        <br>
        <a href="">How are you feeling?</a>
    </div>
</div>